@font-face {
  font-family: 'cinzel';
  src: url("/fonts/cinzel/Cinzel-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'source';
  src: url("/fonts/source/SourceSansPro-Light.ttf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'source';
  src: url("/fonts/source/SourceSansPro-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'source';
  src: url("/fonts/source/SourceSansPro-Bold.ttf");
  font-style: normal;
  font-weight: 600;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a, button {
  cursor: pointer;
}

button {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  text-shadow: none;
  border: none;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 31px;
}

h3 {
  font-size: 29px;
}

h4, h5, h6 {
  font-weight: 400;
}

h4 {
  font-size: 27px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 18px;
}

.ss_select {
  position: relative;
  cursor: pointer;
}

.ss_select select {
  width: 100%;
  padding: 5px 30px 5px 10px;
  border: none;
  border-radius: 3px;
  background: white;
  color: #252525;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
}

.ss_select span {
  position: absolute;
  top: 0%;
  right: 0%;
  bottom: 0%;
  height: 100%;
  width: 30px;
  background: #cfcccc;
  background: #f2f2f2;
  display: block;
  pointer-events: none;
  border-radius: 3px;
}

.ss_select span::before, .ss_select span::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  --size: 5px;
}

.ss_select span::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid rgba(0, 150, 136, 0.8);
  top: 35%;
}

.ss_select span::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid rgba(0, 150, 136, 0.8);
  top: 65%;
}

.ss_row button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 9px 25px;
  font-size: 17px;
  background: rgba(0, 150, 136, 0.8);
  color: white;
  border-radius: 3px;
}

.ss_row button:hover {
  background: #167a65;
}

.ss_row button svg {
  margin-left: 7px;
  fill: white;
  width: 15px;
  height: 15px;
}

input {
  margin: 0 7px;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 0px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  -webkit-transition: border-bottom .3s ease;
  transition: border-bottom .3s ease;
}

input:focus {
  border-bottom: 2px solid rgba(0, 150, 136, 0.8);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: khaki;
  width: 100%;
  height: 100%;
}

.header_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: #252525;
}

.header_bar li {
  padding: 7px 12px;
}

.header_bar li:not(:first-child) {
  margin-left: 15px;
}

.header_bar li a {
  color: #e4e4e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header_bar .header-svg {
  width: 13px;
  height: 13px;
  fill: #e4e4e4;
  margin-right: 5px;
}

.header_brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  width: 100%;
}

.header_brand-item {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
  background: url("/img/bgs/bg-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #f3f3f3;
  -webkit-animation: slide 21s  linear 2s infinite alternate;
          animation: slide 21s  linear 2s infinite alternate;
}

@-webkit-keyframes slide {
  0% {
    background-position: center 35%;
  }
  100% {
    background-position: center 65%;
  }
}

@keyframes slide {
  0% {
    background-position: center 35%;
  }
  100% {
    background-position: center 65%;
  }
}

.header_brand-item h1 {
  font-size: 35px;
  font-family: "cinzel";
  color: rgba(0, 150, 136, 0.8);
}

.header_brand-item span {
  color: #252525;
  padding: 0 5px;
  font-size: 14px;
}

.header_nav-inner {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #252525;
}

.header_nav-inner--item {
  background: #252525;
}

.header_nav-inner--item a {
  display: block;
  padding: 15px;
  color: #e4e4e4;
}

.header_nav-inner--item #nav-publish {
  background: rgba(0, 150, 136, 0.8);
  color: rgba(255, 255, 255, 0.85);
  padding: 15px;
}

.header_rubrics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #252525;
}

.header_rubrics-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 14.2%;
  height: auto;
  background: #100131;
  padding: 10px;
}

.header_rubrics-item svg {
  height: 35px;
  width: 35px;
  fill: rgba(255, 255, 255, 0.5);
  -webkit-transition: fill .3s ease;
  transition: fill .3s ease;
}

.header_rubrics-item h6 {
  color: rgba(255, 255, 255, 0.85);
  font-weight: 300;
  font-size: 17px;
  margin-top: 10px;
  text-align: center;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.header_rubrics-item:hover h6 {
  font-weight: 400;
  color: white;
}

.header_rubrics-item:hover svg {
  fill: white;
}

.ss-wrapper {
  background: #e4e4e4;
  color: #252525;
  padding: 15px;
}

.ss-wrapper .ss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ss-wrapper .ss_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ss-wrapper .ss_row:first-child {
  margin-bottom: 10px;
}

.ss-wrapper .ss_row--item {
  margin-right: 10px;
}

.ss-wrapper .ss_row-price, .ss-wrapper .ss_row-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ss-wrapper .ss_row-price input {
  max-width: 70px;
}

.ss-wrapper .ss_row .ss_40 {
  width: 40%;
}

.ss-wrapper .ss_row .single-input {
  line-height: 1.7;
  color: rgba(0, 150, 136, 0.8);
  letter-spacing: 0.5px;
  padding: 0 15px;
  margin: 0;
  position: relative;
}

.ss-wrapper .ss_row .single-input::before {
  content: url("/img/svg/main/search.svg");
  display: block;
  background-color: red;
  background-size: 15px 15px;
  position: absolute;
  left: 7px;
  width: 15px;
  height: 15px;
}

.ss-wrapper .ss input,
.ss-wrapper .ss .ss_select select,
.ss-wrapper .ss .ss_select option,
.ss-wrapper .ss button {
  font-size: 1.5rem;
}

.ss-wrapper .ss .ss_select--single select {
  width: 150px;
}

.ss-wrapper .ss .ss_row-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  border-radius: 4px;
}

.ss-wrapper .ss .ss_row-price--item {
  position: relative;
  border-right: 2px solid #e4e4e4;
}

.ss-wrapper .ss .ss_row-price--item:last-child {
  border-right: 0;
}

.ss-wrapper .ss .ss_row-price--item input {
  line-height: 1.7;
}

.ss-wrapper .ss .ss_row-price label {
  padding: 7px;
  color: #252525;
  border-right: 2px solid #e4e4e4;
}

.ss-wrapper .ss .ss_checkbox-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: white;
  border-radius: 3px;
}

.ss-wrapper .ss .ss_checkbox-wrapper .ss_checkbox {
  width: 33.333%;
  padding: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0;
}

.ss-wrapper .ss .ss_checkbox-wrapper .ss_checkbox input {
  color: #252525;
  margin-left: 10px;
}

.posts-wrapper {
  padding: 40px 0;
}

.posts-wrapper .posts_title {
  display: block;
  width: 100%;
  color: #100131;
}

.posts-wrapper .posts_reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.posts-wrapper .posts_reg-cont {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 24% 24% 24% 24%;
      grid-template-columns: 24% 24% 24% 24%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 10px;
  padding: 20px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.posts-wrapper .posts_reg-cont--item {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 3px;
  -webkit-box-shadow: 5px 6px 12px -3px rgba(0, 0, 0, 0.84);
  box-shadow: 5px 6px 12px -3px rgba(0, 0, 0, 0.84);
}

.posts-wrapper .posts_reg-cont--item img {
  height: 60%;
}

.posts-wrapper .posts_reg-cont--item .cont--item_desc {
  height: 40%;
  padding: 10px;
}

.posts-wrapper .posts_reg-cont--item .cont--item_desc h6,
.posts-wrapper .posts_reg-cont--item .cont--item_desc p,
.posts-wrapper .posts_reg-cont--item .cont--item_desc span {
  margin-bottom: 10px;
}

.posts-wrapper .posts_reg-cont--item .cont--item_desc h6 {
  color: #252525;
  font-weight: 600;
}

.posts-wrapper .posts_reg-cont--item .cont--item_desc p {
  line-height: 1.1;
  font-size: 15px;
  color: #252525;
}

.posts-wrapper .posts_reg-cont--item .cont--item_desc span {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.posts-wrapper .posts_reg-cont--item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  max-height: 70%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  position: relative;
  font-family: "source";
  font-weight: 400;
  font-size: 1.5rem;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  width: 1070px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.b-b {
  max-width: 100%;
}
/*# sourceMappingURL=main.css.map */