// brand: m500
@font-face {
	font-family: 'cinzel';
	src: url('/fonts/cinzel/Cinzel-Medium.ttf');
	font-style: normal;
	font-weight: 500;
}

// m300
@font-face {
	font-family: 'roboto';
	src: url('/fonts/roboto/Roboto-Light.ttf');
	font-style: normal;
	font-weight: 300;
}

// m400
@font-face {
	font-family: 'roboto';
	src: url('/fonts/roboto/Roboto-Regular.ttf');
	font-style: normal;
	font-weight: 400;
}

// m500
@font-face {
	font-family: 'roboto';
	src: url('/fonts/roboto/Roboto-Medium.ttf');
	font-style: normal;
	font-weight: 500;
}