// main colors
$light-black: #252525;
$black085: rgba(0,0,0,.85);
$black06: rgba(0,0,0,.6);
$black-material: #454545;

$white085: rgba(255,255,255,.85);
$white05: rgba(255,255,255,.5);
$white-darker: rgb(249,255,227);

$gray: #e4e4e4;
$gray-darker: #cfcccc;
$gray-lighter: #f2f2f2;

$sexy-blue: #100131;
$sky-blue: #55B4E2;

$sexy-coral: #531e1a;

$sexy-orange: #050505;

// brand colors
$prim-color: #75C7C3;
$prim-darker: #5A9996;

$sec-color: #f2ece4;

// brand font
$brand-font: 'cinzel';
$main-font: 'roboto';
